<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Pregunta : <%= quiz.pregunta %></h1>
            <p>
                <form class="form-inline" method="get" action="/quizes/<%= quiz.id %>/answer" style="font-size: 36px;">
                    <div class="form-group">
                        <label for="exampleInputEmail1"></label>
                        <input type="text" name="respuesta" class="form-control" placeholder="Responda aquí">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </p>
            <p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
            
            <table class="table table-bordered table-hover">
            <thead>
                <th colspan="2">Comentarios</th>
            </thead>
            <tbody>
            <%for(index in quiz.Comments) { %>
                <%if(quiz.Comments[index].publicado || session.user) { %>
                    <tr><td><%=quiz.Comments[index].texto%></td>
                    <% if (session.user && !quiz.Comments[index].publicado) { %>
                        <td><a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a></td>
                    <% } %>
                    </tr>
                <% } %>
            <% } %>
            </tbody>
            </table>
        </div>
    </div>
</div>